<!-- Filter Section -->
<div class="card">
  <div class="header row m-0">
    <h5 class="col-4">Search Trainings</h5>
  </div>
  <div class="row m-0" style="display: flex;height: 50px;align-items: center;">
    <div class="col-9">
      <div class="form-group m-0">
        <input type="text" class="form-control" [(ngModel)]="searchKey" name="searchKey"
          placeholder="Search Trainings by name">
      </div>
    </div>
    <div class="col-3">
      <button class="btn btn-primary" (click)="search()">Search</button>
    </div>
  </div>
</div>
<!-- Filter Section Ends -->

<!-- Scheduled Trainings -->
<div class="card">
  <div class="row m-0 header">
    <h5 class="col-4"> Scheduled Trainings </h5>
    <div class="col-8">
      <button class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#addTraining"
        (click)="training = {}">Add Training</button>
    </div>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>TrainingName</th>
          <th>Description</th>
          <th>Department</th>
          <th>Duration</th>
          <th>Date & Time</th>
          <th>Meeting Room</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="trainings.length > 0">
          <tr *ngFor="let training of trainings| filter : searchText">
            <td>{{training.name}}</td>
            <td>{{training.description}}</td>
            <td>{{training.department}}</td>
            <td>{{training.duration}}</td>
            <td>{{training.displaydate}}</td>
            <td>{{training.meetingRoom}}</td>
            <td>
              <i class="fa fa-edit" aria-hidden="true" (click)="editTraining(training)"></i>
              <i class="fa fa-trash" aria-hidden="true" style="padding-left: 10px;"
                (click)="deleteTrainig(training)"></i>
            </td>
          </tr>
        </ng-container>
        <tr *ngIf="trainings.length == 0">
          <td colspan="7" style="text-align: center;">No Data Available </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>
<!-- Scheduled Trainings Ends -->

<!-- Modal To Create/Update Trainings-->
<div class="modal fade" id="addTraining" tabindex="-1" role="dialog" aria-labelledby="addTrainingLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addTrainingLabel">Training</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #trainingForm="ngForm">
          <div class="form-group">
            <label for="name">Training Name <span>*</span></label>
            <input type="text" class="form-control" id="name" required [(ngModel)]="training.name" name="name"
              #name="ngModel">
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger"> Name is required</div>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <input type="text" class="form-control" id="description" [(ngModel)]="training.description"
              name="description">
          </div>

          <div class="form-group">
            <label for="department">Department <span>*</span></label>
            <select class="form-control" id="department" required [(ngModel)]="training.department" name="department"
              #department="ngModel">
              <option *ngFor="let department of departments" [value]="department">{{department}}</option>
            </select>
            <div [hidden]="department.valid || department.pristine" class="alert alert-danger">
              department is required
            </div>
          </div>

          <div class="form-group">
            <label for="description">Duration <span>*</span></label>
            <input type="number" class="form-control" id="duration" required [(ngModel)]="training.duration"
              name="duration" min="1">
          </div>

          <div class="form-group">
            <label for="description">Date & Time <span>*</span></label>
            <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time" name="dateTime"
              [(ngModel)]="training.dateTime">
            <owl-date-time #dt1></owl-date-time>
            <!-- <input type="date" class="form-control" id="dateTime" required [(ngModel)]="training.dateTime" name="dateTime"> -->
          </div>

          <div class="form-group">
            <label for="description">Meeting Room <span>*</span></label>
            <input type="text" class="form-control" id="meetingRoom" required [(ngModel)]="training.meetingRoom"
              name="meetingRoom">
          </div>

        </form>
      </div>
      <div class="modal-footer" style="display: flex;align-items: center;justify-content: center;">
        <button type="submit" class="btn btn-primary" [disabled]="!trainingForm.form.valid"
          (click)="addTraining();trainingForm.reset()">Submit</button>
        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="trainingForm.reset()">Close</button> -->
      </div>
    </div>
  </div>
</div>